body
{
    background-color:darksalmon;
}

*
{ /*Selector universal*/
    margin:2 px;/*Agregar margen*/
    padding:2 px;/*Margen interno de los elementos*/
    /*Practicamente son para los espacios*/
}

h2/*h3,h4.. en caso de querer alterar varias*/
{
    /*Sirve para que todos los h2 sean alterados*/
    color:darkslategrey;
    font-size: 45px;/*Sirve para el tamaño de letra*/
}









